@media screen and (max-width: 1024px) {
  .top-wrapper {
    gap: 24px;}
    .section-bottom{
      display: none;
    }
    
    }

  @media screen and (max-width: 768px) {
    .container {
      padding: 20px;
    }
    .header-nav {
      display: none;
    }
    .burger-icon {
      display: block;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    h1 {
      font-size: 50px;
      width: 400px;
    }
    .products {
      row-gap: 10px;
    }
    .card {
      width: calc(50% - 5px);
    }
    .item-1,
    .item-2,
    .item-3,
    .item-4 {
      border-radius: 34px;
    }
    .top-wrapper {
      flex-direction: column;
      align-items: center;
    }

    .section-top {
      width: 90%;
      height: auto;
      padding: 32px 20px;
    }

    .photo-one,
    .photo-two {
      height: 200px;
    }

    figcaption {
      max-width: 100%;
      font-size: 20px;
    }

    h4 {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 500px) {
    .buttoms {
      display: none;
    }
    h1 {
      width: 300px;
    }
    .service-para {
      display: none;
    }
    .card {
      width: 100%;
    }
  }
